@font-face {
  font-family: "ITC Avant Garde Pro";
  src: local("ITCAvantGardePro-Bk"), url("./assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff2") format("woff2"), url("./assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff") format("woff"), url("./assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.ttf") format("truetype"), url("./assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url("./assets/fonts/SourceSansPro/SourceSansPro-Italic.woff2") format("woff2"), url("./assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.woff2") format("woff2"), url("./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Coles Haptic";
  src: local("Coles Haptic Bold"), url("./assets/fonts/ColesHaptic/coleshapticbd-webfont.woff") format("woff"), url("./assets/fonts/ColesHaptic/coleshapticbd-webfont.ttf") format("truetype"), url("./assets/fonts/ColesHaptic/coleshapticbd-webfont.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: "Volkswagen";
  src: local("Volkswagen Bold"), url("./assets/fonts/Volkswagen/Volkswagen-Bold.ttf") format("truetype"); }
