/* Breakpoints */
.__header {
  min-height: 95px; }

.__top-bar {
  background-color: #e01A22;
  height: 4px; }
  .__top-bar .__author {
    position: absolute;
    color: white;
    top: 4px; }

.__top-nav {
  display: flex;
  padding: 0 52px;
  justify-content: space-between; }
  .__top-nav__logo {
    margin-top: 25px; }
  .__top-nav__items {
    margin-top: 26px; }
  .__top-nav__mobile {
    display: none; }
  .__top-nav .rocket__nav__item {
    margin-left: 47px; }

@media only screen and (max-width: 768px) {
  .__header {
    min-height: auto; }
  .__top-nav {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 30px;
    flex-direction: column; }
    .__top-nav .rocket__nav__item {
      margin-left: 0;
      margin-right: 10px; }
    .__top-nav__mobile {
      display: block;
      position: absolute;
      right: 24px;
      top: 26px; } }

.__main {
  display: flex;
  flex-grow: 1; }
  .__main__content {
    padding-right: 52px; }
    @media only screen and (max-width: 768px) {
      .__main__content {
        padding-right: 24px; } }

.__footer {
  padding: 12px 52px;
  text-align: right; }
  @media only screen and (max-width: 768px) {
    .__footer {
      padding: 12px 24px; } }
  .__footer .__updated-at {
    color: #3f4140; }

.__index {
  width: 100%; }
  .__index__background {
    flex-grow: 1;
    order: 3;
    margin-top: -100px; }
    .__index__background svg {
      width: 100%;
      height: 100%; }
  .__index__content {
    flex-basis: 50%;
    padding-right: 50px;
    order: 2; }
    .__index__content .__content__header {
      margin-bottom: 24px;
      display: flex;
      align-items: center; }
    .__index__content .__content__title {
      word-break: break-word;
      font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
      font-size: 32px; }
    .__index__content .__content__main {
      margin-bottom: 35px; }
    .__index__content .__content__icon {
      background-color: #E01A22;
      width: 82px;
      height: 82px;
      border-radius: 100px;
      display: inline-block;
      margin-right: 14px; }
  .__index__section {
    padding: 0 52px;
    padding-top: 10%;
    padding-bottom: 80px;
    position: relative;
    display: flex; }
    .__index__section--even {
      background-color: #2A3B4B; }
      .__index__section--even .__index__background {
        order: 1; }
      .__index__section--even .__index__content {
        padding-right: 0;
        padding-left: 50px; }
        .__index__section--even .__index__content .__content__title {
          color: white; }
        .__index__section--even .__index__content .__content__main {
          color: white; }
  .__index__network {
    padding: 119px 52px;
    display: flex;
    justify-content: space-between; }
  .__index__column {
    flex-basis: 48%; }

@media only screen and (max-width: 768px) {
  .__index__section {
    display: block;
    padding: 0 24px;
    padding-top: 50px; }
    .__index__section--even .__index__content {
      padding-left: 0; }
    .__index__section:first-child {
      padding-top: 0; }
  .__index__background {
    margin-top: 25px; }
  .__index__network {
    display: block;
    padding-left: 24px;
    padding-right: 24px; }
  .__index__column {
    margin-bottom: 50px; } }

.__main__side-nav {
  width: 224px;
  min-width: 224px;
  padding-right: 32px;
  padding-bottom: 20px; }
  .__main__side-nav .rocket__menu {
    margin-left: 3px; }
    .__main__side-nav .rocket__menu__title {
      padding-left: 24px; }
      .__main__side-nav .rocket__menu__title--active:before {
        left: -3px; }
  .__main__side-nav .rocket__submenu__title {
    padding-left: 40px; }

.__main .__side-nav__select-brand {
  padding-left: 24px;
  margin-bottom: 18px; }
  .__main .__side-nav__select-brand select {
    width: 100%; }

@media only screen and (max-width: 768px) {
  .__main {
    flex-direction: column; }
    .__main__side-nav {
      order: 1;
      padding-top: 24px;
      padding-right: 0;
      width: auto;
      margin-right: 0; }
    .__main .__side-nav__select-brand {
      padding-right: 24px; }
    .__main .__side-nav__menu {
      padding-right: 3px; }
    .__main__content {
      padding: 0 24px; } }

.__main__content--style-colour .__color {
  width: 176px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  margin-right: 24px;
  margin-bottom: 24px;
  display: inline-block; }
  .__main__content--style-colour .__color__screen {
    height: 80px;
    background-color: white; }
    .__main__content--style-colour .__color__screen--black100 {
      background-color: #e8edf2; }
    .__main__content--style-colour .__color__screen--black200 {
      background-color: #e8e8e8; }
    .__main__content--style-colour .__color__screen--black500 {
      background-color: #898d8e; }
    .__main__content--style-colour .__color__screen--black700 {
      background-color: #6e6e6e; }
    .__main__content--style-colour .__color__screen--black800 {
      background-color: #3f4140; }
    .__main__content--style-colour .__color__screen--black900 {
      background-color: #20211f; }
    .__main__content--style-colour .__color__screen--white100 {
      background-color: rgba(255, 255, 255, 0.05); }
    .__main__content--style-colour .__color__screen--white200 {
      background-color: rgba(255, 255, 255, 0.1); }
    .__main__content--style-colour .__color__screen--white500 {
      background-color: rgba(255, 255, 255, 0.5); }
    .__main__content--style-colour .__color__screen--white700 {
      background-color: rgba(255, 255, 255, 0.65); }
    .__main__content--style-colour .__color__screen--white800 {
      background-color: rgba(255, 255, 255, 0.85); }
    .__main__content--style-colour .__color__screen--white900 {
      background-color: white; }
    .__main__content--style-colour .__color__screen--success {
      background-color: #008a22; }
    .__main__content--style-colour .__color__screen--success-dark {
      background-color: #007a1f; }
    .__main__content--style-colour .__color__screen--error {
      background-color: #e01a22; }
    .__main__content--style-colour .__color__screen--error-dark {
      background-color: #c70007; }
    .__main__content--style-colour .__color__screen--primary {
      background-color: #e01a22; }
    .__main__content--style-colour .__color__screen--primary-dark {
      background-color: #c70007; }
  .__main__content--style-colour .__color__description {
    padding: 9px 16px 15px 16px; }
  .__main__content--style-colour .__color__name {
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    height: 25px; }
  .__main__content--style-colour .__color__hex {
    color: #3f4140; }
  .__main__content--style-colour .__color__rgba {
    color: #3f4140; }

.__main__content--style-typography .__showcase__glass {
  padding: 17px 30px 35px 30px;
  display: block; }

.__main__content--style-iconography .__icon {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  width: 130px;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
  margin-right: 15px;
  padding-top: 23px;
  padding-bottom: 23px; }
  .__main__content--style-iconography .__icon__link {
    margin-bottom: 10px; }
  .__main__content--style-iconography .__icon__image {
    width: 16px;
    height: 16px;
    display: inline-block; }
  .__main__content--style-iconography .__icon__caption {
    color: #3f4140;
    font-size: 16px;
    line-height: 22px; }

.__main__content--component-radio-button .rocket__label {
  margin-right: 20px; }

.__main__content--component-checkbox .rocket__label {
  margin-right: 20px; }

.__main__content--component-select .rocket__select {
  width: 150px; }

.__main__content--component-button .rocket__button {
  margin: 5px; }

.__main__content--component-dialog .rocket__dialog {
  max-width: 600px;
  min-width: 350px; }

.__main__content--component-thumbnail img {
  width: 360px; }

.__main__content--component-radio-dialog .rocket__radio-dialog {
  margin: 10px; }

.__main__content--component-tag .rocket__tag {
  margin-right: 10px; }

.__main__content--tooltip .rocket__tooltip {
  margin-left: 20px;
  margin-right: 20px; }

.__section__header {
  margin-bottom: 15px; }

.__section__title {
  margin-bottom: 8px;
  font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif;
  font-size: 40px;
  line-height: 45px; }

.__section__content {
  color: #3f4140;
  font-size: 20px;
  margin-bottom: 8px; }

.__section__footer {
  font-size: 16px;
  line-height: 22px; }

.__section--horizontal .__showcase__glass .rocket__button:before {
  content: ""; }

.__section--vertical .__showcase__glass {
  flex-direction: column; }
  .__section--vertical .__showcase__glass .rocket__button {
    width: 178px; }

.__main__content--resources {
  padding: 0 52px; }
  @media only screen and (max-width: 768px) {
    .__main__content--resources {
      padding: 0 24px; } }
  .__main__content--resources .__design-assets {
    margin-top: 32px;
    margin-bottom: 32px; }
  .__main__content--resources .__assets {
    display: flex;
    flex-wrap: wrap; }
  .__main__content--resources .__asset {
    width: 308px;
    background-color: white;
    text-align: center;
    box-shadow: 0 15px 30px 0 rgba(148, 148, 148, 0.2);
    margin-right: 34px;
    margin-bottom: 34px;
    padding-top: 32px;
    padding-bottom: 33px;
    text-decoration: none;
    color: #20211f;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .__main__content--resources .__asset:hover, .__main__content--resources .__asset:focus {
      text-decoration: underline; }
    .__main__content--resources .__asset__image {
      width: 112px;
      height: 112px;
      background-color: #e8edf2;
      margin-bottom: 24px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .__main__content--resources .__asset__title {
      font-family: "ITC Avant Garde Pro";
      line-height: 32px;
      font-size: 24px;
      margin-bottom: 13px;
      color: #20211f; }
    .__main__content--resources .__asset__content {
      font-size: 16px;
      line-height: 32px;
      color: #3f4140; }
  .__main__content--resources .__popup {
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-family: "ITC Avant Garde Pro";
    padding-top: 80px;
    padding-bottom: 80px;
    overflow-y: auto; }
    .__main__content--resources .__popup__title {
      font-size: 40px;
      letter-spacing: -0.62px;
      vertical-align: bottom;
      margin-bottom: 10%;
      position: relative;
      display: inline-block; }
      .__main__content--resources .__popup__title:before {
        content: "";
        position: absolute;
        height: 3px;
        display: inline-block;
        bottom: -15px;
        left: 40%;
        right: 40%;
        text-align: center;
        background-color: #e01A22; }
    .__main__content--resources .__popup__close {
      position: absolute;
      top: 16px;
      right: 24px;
      background-color: white;
      border: none;
      width: 48px;
      height: 48px;
      cursor: pointer;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 16 16'%3E%3Cg opacity='0.65'%3E%3Cline vector-effect='non-scaling-stroke' x1='3' y1='3' x2='13' y2='13' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline vector-effect='non-scaling-stroke' x1='3' y1='13' x2='13' y2='3' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      outline: none; }
      .__main__content--resources .__popup__close:focus, .__main__content--resources .__popup__close:hover {
        box-shadow: 0 0 0 3px #20211f;
        border-radius: 100px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 16 16'%3E%3Cg %3E%3Cline vector-effect='non-scaling-stroke' x1='3' y1='3' x2='13' y2='13' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cline vector-effect='non-scaling-stroke' x1='3' y1='13' x2='13' y2='3' fill='none' stroke='%2320211f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E"); }
        .__main__content--resources .__popup__close:focus:active, .__main__content--resources .__popup__close:hover:active {
          box-shadow: none;
          background-color: #e8e8e8; }
    .__main__content--resources .__popup__brand {
      width: 260px;
      font-size: 24px;
      margin: 24px 16px;
      display: inline-block;
      vertical-align: middle;
      line-height: 100px;
      color: #20211f;
      box-shadow: 0 5px 10px 0 rgba(148, 148, 148, 0.2);
      text-decoration: none; }
      .__main__content--resources .__popup__brand:hover, .__main__content--resources .__popup__brand:focus {
        text-decoration: underline; }

.__main__content--support {
  padding: 0 52px; }
  @media only screen and (max-width: 768px) {
    .__main__content--support {
      padding: 0 24px; } }

.__showcase__frame {
  border: 1px solid rgba(32, 33, 31, 0.05);
  background-color: rgba(255, 255, 255, 0.05); }

.__showcase__glass {
  padding: 80px 30px 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; }

.__showcase__label {
  padding: 15px 31px;
  display: inline-block;
  cursor: not-allowed;
  color: rgba(32, 33, 31, 0.65);
  font-size: 16px; }
  .__showcase__label--active {
    border-bottom: 4px solid #e01A22;
    cursor: default;
    color: #20211f; }

.__showcase__description {
  padding: 24px 24px 32px 24px;
  background-color: #f8f8f8;
  opacity: 0.85;
  line-height: 24px;
  font-size: 14px;
  color: #484B54; }

/* Override Rocket ********************************************************************************/
.__website {
  /* Markdown */ }
  .__website.__index .rocket__button {
    border-radius: 100px; }
    .__website.__index .rocket__button:before {
      border-radius: 100px; }
    .__website.__index .rocket__button--primary {
      background-color: #e01A22;
      color: white; }
      .__website.__index .rocket__button--primary:focus, .__website.__index .rocket__button--primary:hover {
        color: white; }
        .__website.__index .rocket__button--primary:focus:active, .__website.__index .rocket__button--primary:hover:active {
          background-color: #c70007; }
  .__website.__index .community h5 {
    color: #e01A22; }
  .__website h1 {
    font-family: "ITC Avant Garde Pro"; }
  .__website h1 + p {
    font-size: 20px; }
  .__website h2,
  .__website h3,
  .__website h4 {
    margin-top: 1em;
    font-family: "ITC Avant Garde Pro"; }
  .__website h5 {
    margin-top: 1.5em;
    font-family: "ITC Avant Garde Pro"; }
  .__website h6 {
    margin-top: 2em; }
  .__website h2 + p,
  .__website h2 + ul,
  .__website h2 + ol,
  .__website h2 + table,
  .__website h2 + dl,
  .__website h2 + pre,
  .__website h2 + blockquote,
  .__website h3 + p,
  .__website h3 + ul,
  .__website h3 + ol,
  .__website h3 + table,
  .__website h3 + dl,
  .__website h3 + pre,
  .__website h3 + blockquote,
  .__website h4 + p,
  .__website h4 + ul,
  .__website h4 + ol,
  .__website h4 + table,
  .__website h4 + dl,
  .__website h4 + pre,
  .__website h4 + blockquote,
  .__website h5 + p,
  .__website h5 + ul,
  .__website h5 + ol,
  .__website h5 + table,
  .__website h5 + dl,
  .__website h5 + pre,
  .__website h5 + blockquote {
    margin-top: -0.25em; }
  .__website .rocket a {
    color: #e01A22; }
    .__website .rocket a:hover, .__website .rocket a:focus {
      color: #e01A22; }
      .__website .rocket a:hover:before, .__website .rocket a:focus:before {
        box-shadow: 0 0 0 2px #e01A22; }
      .__website .rocket a:hover:active, .__website .rocket a:focus:active {
        color: #20211f; }
        .__website .rocket a:hover:active:before, .__website .rocket a:focus:active:before {
          box-shadow: none; }
    .__website .rocket a:visited {
      color: #6e6e6e; }
      .__website .rocket a:visited:hover, .__website .rocket a:visited:focus {
        color: #e01A22; }
    .__website .rocket a.rocket__button--icon:hover:before, .__website .rocket a.rocket__button--icon:focus:before {
      box-shadow: none; }
    .__website .rocket a.rocket__a--image:hover:before {
      box-shadow: none; }
  .__website .rocket__thumbnail .rocket__thumbnail__title:hover, .__website .rocket__thumbnail .rocket__thumbnail__title:focus {
    color: white; }
    .__website .rocket__thumbnail .rocket__thumbnail__title:hover:before, .__website .rocket__thumbnail .rocket__thumbnail__title:focus:before {
      box-shadow: 0 0 0 2px white; }
  .__website .rocket__thumbnail .rocket__thumbnail__title:active:before {
    box-shadow: none; }
  .__website .rocket__thumbnail .rocket__thumbnail__title:visited:hover, .__website .rocket__thumbnail .rocket__thumbnail__title:visited:focus {
    color: white; }
  .__website .rocket__tile .rocket__tile__title {
    color: #20211f; }
    .__website .rocket__tile .rocket__tile__title:hover, .__website .rocket__tile .rocket__tile__title:focus {
      color: #20211f; }
      .__website .rocket__tile .rocket__tile__title:hover:before, .__website .rocket__tile .rocket__tile__title:focus:before {
        box-shadow: 0 0 0 2px #20211f; }
    .__website .rocket__tile .rocket__tile__title:active:before {
      box-shadow: none; }
    .__website .rocket__tile .rocket__tile__title:visited:hover, .__website .rocket__tile .rocket__tile__title:visited:focus {
      color: #20211f; }
  .__website .rocket a.rocket__nav__item:hover:before, .__website .rocket a.rocket__nav__item:focus:before {
    box-shadow: none; }
  .__website .rocket__menu__title--active:before {
    background-color: #e01A22; }
  .__website .rocket__submenu__title--active {
    color: #e01A22; }
  .__website .rocket__nav.rocket__nav--pill .rocket__nav__item {
    border-radius: 100px; }
    .__website .rocket__nav.rocket__nav--pill .rocket__nav__item:hover, .__website .rocket__nav.rocket__nav--pill .rocket__nav__item:focus {
      color: #20211f; }
    .__website .rocket__nav.rocket__nav--pill .rocket__nav__item--active {
      background-color: #e01A22;
      color: white; }
  .__website .rocket__d1, .__website .rocket__d2, .__website .rocket h1, .__website .rocket h2, .__website .rocket h3, .__website .rocket h4, .__website .rocket h5, .__website .rocket h6 {
    font-family: "ITC Avant Garde Pro", "century gothic", arial, sans-serif; }

/* Override Prism *********************************************************************************/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #f8f8f8; }

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-word; }

.__component {
  padding-right: 52px;
  /* Override Markdown */ }
  @media only screen and (max-width: 768px) {
    .__component {
      padding: 0 24px; } }
  .__component--radio-button .rocket__label, .__component--checkbox .rocket__label {
    margin-right: 20px; }
  .__component--button .rocket__button {
    margin: 2px; }
  .__component--radio-dialog .rocket__radio-dialog {
    margin: 10px; }
  .__component--select .rocket__select {
    width: 150px; }
  .__component--tooltip .rocket__tooltip {
    margin-left: 20px;
    margin-right: 20px; }
  .__component--thumbnail .rocket__thumbnail .rocket__thumbnail__image {
    width: 360px; }
  .__component .rocket h4, .__component .rocket h5, .__component .rocket h6 {
    margin-top: 0; }

html, body {
  margin: 0;
  height: 100%; }

@font-face {
  font-family: "ITC Avant Garde Pro";
  src: url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff2") format("woff2"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.woff") format("woff"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.ttf") format("truetype"), url("rocket-styles/assets/fonts/AvantGardePro/AvantGardeGothicITCW05-Demi.eot?#iefix") format("embedded-opentype"); }

.__root {
  font-size: 14px;
  color: #20211f;
  font-family: "Source Sans Pro", arial, sans-serif; }

/*# sourceMappingURL=styles.css.map */